/spring-boot/commons/target/
/spring-boot/ms/target/
spring-boot/commons/\.settings/

spring-boot/ms/\.DS_Store

spring-boot/ms/\.classpath

spring-boot/ms/\.project

spring-boot/ms/\.settings/

spring-boot/ms/\.tern-project

spring-boot/ms/src/\.DS_Store

spring-boot/ms/src/main/\.DS_Store

spring-boot/ms/src/main/java/\.DS_Store

spring-boot/ms/src/test/\.DS_Store

\.DS_Store

spring-boot/commons/\.classpath

spring-boot/commons/\.project
/spring-boot/commons2/target/